.itemHeader {
    position: relative;
  }
  
  .itemHeader button {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
  }
  
  .itemHeader img {
    position: relative; /* Ensures the image respects the button's positioning */
  }

  .cartQty {
    left: 0px;
  }

  .cartControls {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
}
  
  .cartControls button {
    margin: 0 5px; /* Add some margin between buttons */
  }