.cart {
    text-align: left;
}
.menu-item-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Creates two columns of equal width */
    grid-template-rows: 1fr 1fr; /* Creates two rows of equal height */
    /* gap: 10px; Optional: Adds some space between the grid items */
    border: 1px solid #ccc;
    border-radius: 0.5vmin;
    padding: 10px;
    margin-bottom: 10px;
    /* width: 200px; Set a fixed width, or make it responsive as needed */
    /* height: 200px; Set a fixed height, or make it responsive as needed */
}

.item-name {
    grid-area: 1 / 1 / 2 / 2; /* Places the item in the top-left quadrant */
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.item-description {
    grid-area: 2 / 1 / 3 / 2; /* Places the item in the bottom-left quadrant */
    /* Additional styling as needed */
}

.addRemoveButtonContainer {
    grid-area: 1 / 2 / 2 / 3; /* Places the item in the top-right quadrant */
    /* Aligns content to the right and center (vertically) within the quadrant */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-price {
    grid-area: 2 / 2 / 3 / 3; /* Places the item in the bottom-right quadrant */
    /* Aligns content to the right and bottom within the quadrant */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}