img {
    height: 350px;
    width: 350px;
}


.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
.menu-container h6 {
    text-align: left;
}

.restaurant-name {
    text-align: left;
}

.menu-item-restaurant {
    display: flex;
    justify-content: space-between; /* Aligns children to start and end of container */
    align-items: center; /* Vertically centers the children */
    margin-bottom: 10px; /* Adds some space between menu items */
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between; /* Keeps the left and right containers at start and end */
    align-items: center; /* Vertically centers the children */
    margin-bottom: 10px; /* Adds some space between menu items */
  }
  
  .menu-item-left, .menu-item-right {
    display: flex;
    align-items: center; /* Vertically centers the contents */
    gap: 10px; /* Adds space between elements within each container */
  }